
footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #fff;
    padding: 20px;
 }
 .page-wrapper {
    min-height: calc(100vh - 65px);
  }
  